{% extends "base.html" %}

{% block title %}이격도 지표{% endblock %}

{% block content %}
    <form method="get" style="margin-bottom:1em;">
        <label for="date">날짜 선택:</label>
        <input
        type="date"
        id="date"
        name="date"
        value="{{ selected_date }}"
        >
        <button type="submit">조회</button>
    </form>



  {% if low_di20 %}
    <table>
      <tr>
        <th>종목</th>
        <th>20일 기준 이격도 (%)</th>
        <th>현재 이격도 (%)</th>
      </tr>
      {% for ticker, base_disp, curr_disp in low_di20 %}
      <tr>
        <td>{{ ticker }}</td>
        <td class="negative">{{ base_disp }}</td>
        <td class="negative">{{ curr_disp }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>🗓️ {{ selected_date }} 데이터가 없습니다.</p>
  {% endif %}
{% endblock %}
